.root {
  position: relative;
  margin-right: -400px;
  margin-top: 5px;

  @media (max-width: 1450px) {
    margin-right: -300px;
  }

  @media (max-width: 1300px) {
    margin-right: -200px;
  }

  @media (max-width: 1300px) {
    margin-right: -100px;
  }

  @media (max-width: 1100px) {
    margin-right: -20px;
  }

  @media (max-width: 1000px) {
    margin-right: -10px;
  }
}

.search_icon {
  width: 27px;
  height: 27px;
  opacity: 0.3;
  position: absolute;
  left: 8px;
  top: 7px;
}

.close_icon { 
  width: 27px;
  height: 27px;
  opacity: 0.3;
  position: absolute;
  left: 260px;
  top: 7px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: 700px) {
    left: 165px;
  }
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 9px 14px;
  padding-left: 37px;
  border-radius: 20px;
  width: 300px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 700px) {
    width: 200px;
  }
}